<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dadi-impersonation" version="1.0.0.0" targetFramework="net40" />
  <package id="DNS" version="1.2.2" targetFramework="net46" />
  <package id="ini-parser" version="2.2.4" targetFramework="net40" />
  <package id="Npgsql" version="3.0.5" targetFramework="net46" />
</packages>